---
{
	"layout": "root.liquid",
	"tags": "docs",
	"head": [
		"<link rel=stylesheet href=/-/css/docs.css>",
		"<script type=module src=/-/js/outline-tracker/index.js></script>"
	]
}
---
{% liquid
	assign escaped = description | replace: '"', '\\"'
	assign json = '{"description":"' | append: escaped | append: '"}'
	assign data = json | jsonparse

	assign crumbs = page.url | split: "/" | shift
	assign ancestors = crumbs | pop
	assign current = crumbs | last

	assign suite_url = page.url | slice: 0, -1
	assign suite = testsuites | where: "path", suite_url | first
%}


<main>
	<aside>
		<nav id=outline>
			{% outline %}
		</nav>
	</aside>

	<article>
		<div id=prelude>
			{% unless ancestors.length == 0 %}
				<nav id=crumbs>
					{% for crumb in ancestors %}
						{% assign href = crumbs | slice: 0, forloop.index | join: "/" %}
						<a href="/{{ href }}/">{{ crumb }}</a>
						<ui-icon type=pointer-small state=right></ui-icon>
					{% endfor %}
					<span>{{ current }}</span>
				</nav>
			{% endunless %}

			{% if suite and suite.tests.length > 0 %}
				<test-suite testdata="{{ suite | json | escape }}"></test-suite>
			{% endif %}
		</div>

		<h1 id="{{ title | slugify }}">{{ title | escape }}</h1>

		{% renderTemplate "liquid, md", data %}
			{{ description }}
		{% endrenderTemplate %}

		{{ content }}
	</article>
</main>
