---
{
	"head": [],
	"exclude": []
}
---

<!DOCTYPE html>
<html lang=en>
<meta charset=utf-8>
<title>{{ title }} | YOZO</title>

<meta name=viewport content="width=device-width,initial-scale=1">
<meta name=robots content="index,follow">
<meta name=description content="{{ description | remove_icode | escape }}">
<meta name="generator" content="{{ eleventy.generator }}">

<link rel=preload as=font href=/-/fonts/dm-sans.woff2 type=font/woff2 crossorigin>
<link rel=preload as=font href=/-/fonts/dm-mono.woff2 type=font/woff2 crossorigin>

<script src=/lib-latest.js></script>
<script>
	self.yozo.register.auto(name => {
		const namespace = name.split('-', 1)[0]
		return `/-/yz/${namespace}/${name}.yz`
	})
	// For a safari bug. Imports should work this way already.
	window.safeImport = async url => {
		const {cache} = safeImport
		if(!cache.has(url)) cache.set(url, import(url))
		return await cache.get(url)
	}
	window.safeImport.cache = new Map
</script>

<style>@layer base, custom-elements, layout;</style>
<link rel=stylesheet href=/-/css/fonts.css>
<link rel=stylesheet href=/-/css/base.css>
<link rel=stylesheet href=/-/css/custom-elements.css>

{% for item in head %}
	{{ item }}
{% endfor %}



{% unless exclude contains 'site-nav' %}
	<site-nav></site-nav>
{% endunless %}

{{ content }}

{% unless exclude contains 'site-footer' %}
	<site-footer></site-footer>
{% endunless %}
