---
{
	"layout": "layouts/root.liquid",
	"title": "Tests",
	"description": "Want to make sure Yozo works for your target audience? Run specific tests, or run them all, right in the browser.",
	"head": [
		"<link rel=stylesheet href=./index.css>",
		"<script type=module src=./index.js></script>"
	]
}
---

{% liquid
	assign amount = 0
	for suite in testsuites
		assign amount = amount | plus: suite.tests.length
	endfor
%}

<main>
	<h1>{{ title }}</h1>
	<p>Of course, it is incredibly important that the code we ship actually works. While Yozo strives to always support the latest major versions of Chrome, Firefox and Safari, sometimes we need to create sites that work in less common browsers. To make it easy for authors to see if Yozo is good fit for them and their target environment, they can open this page in any browser to see if whether or not Yozo's tests pass.</p>
	<p>If any of the tests do fail in a certain browser, and you believe Yozo should support said browser, please <a href=https://github.com/vrugtehagel/yozo/issues/new>file an issue</a>. I really appreciate it!</p>

	<div id=run-all>
		<ui-button icon=play>Run all</ui-button>
		<div id=summary hidden>
			<ui-icon type=spinner></ui-icon>
			<span id=message>
				<span id=progress></span> percent complete.
			</span>
		</div>
	</div>
	<section id=logs hidden>
		<header>
			<h2>Test logs:</h2>
			<ui-button href=https://github.com/vrugtehagel/yozo/issues/new icon=github-issue>File an issue</ui-button>
		</header>
		<ui-code id=output language=txt cancopy></ui-code>
	</section>

	<ul>
		{% for docs_page in collections.docs %}
			{% assign title = docs_page.data.title %}
			{% assign url = docs_page.page.url %}
			{% assign suite_url = url | slice: 0, -1 %}
			{% assign suite = testsuites | where: "path", suite_url | first %}
			{% assign filenames = suite.tests | map: "filename" | join: " " %}
			{% if filenames.length == 0 %}{% continue %}{% endif %}
			<li>
				<ui-button icon=docs href="{{ url }}"></ui-button>
				<span class=title>{{ title | escape }}</span>
				<test-runner suite="{{ suite.path | escape }}" filenames="{{ filenames | escape }}"></test-runner>
				<ui-icon type=dot></ui-icon>
			</li>
		{% endfor %}
	</ul>

</main>
