---
{
	"layout": "layouts/root.liquid",
	"tags": "docs",
	"head": [
		"<link rel=stylesheet href=/-/css/docs.css>"
	]
}
---
{% liquid
	assign escaped = description | replace: '"', '\\"'
	assign json = '{"description":"' | append: escaped | append: '"}'
	assign data = json | jsonparse

	assign parts = page.url | split: "/"
	assign has_crumbs = parts.length > 2
	if has_crumbs
		assign crumbs = parts | shift
		assign ancestors = crumbs | pop
		assign current = crumbs | last
	endif
%}


<main>
	<aside>
		<docs-outline></docs-outline>
	</aside>

	<article>
		{% if has_crumbs %}
			<nav id=crumbs>
				{% for crumb in ancestors %}
					{% assign href = crumbs | slice: 0, forloop.index | join: "/" %}
					<a href="/{{ href }}/">{{ crumb }}</a>
					<ui-icon type=pointer state=right></ui-icon>
				{% endfor %}
				<span>{{ current }}</span>
			</nav>
		{% endif %}

		<h1>{{ title | escape }}</h1>
		<p>
			{% renderTemplate "liquid, md", data %}
				{{ description }}
			{% endrenderTemplate %}
		</p>

		{{ content }}
	</article>
</main>
